.title {
    font-size: 6rem;
}

.title-img {
    height: 5rem;
    width: 100%;
    object-fit: contain;
}

.title-container {
    gap: 12px;
    align-items: center;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
}

.links {
    margin-top: 32px;
    gap: 48px;
}

.link-img {
    height: 5em;
    object-fit: contain;
    margin-bottom: 6px;
}

.link-item {
    max-width: 364px;
}

.max { 
    width: 800px;
}

section {
    width: 100%;
    height: 100%;
}

.sections > section {
    scroll-snap-align: center;
}

.sections {
    width: 100%;
    height: 100%;
    scroll-snap-type: both mandatory;
    overflow: scroll;
}

@keyframes backwards-scroll {
    0% {
        transform: translate3d(0%, -100%, 0);
    }

    50% {
        transform: none;
    }

    100% {
        transform: translate3d(0%, 100%, 0);
    }
}

@media (width < 600px) {
    .title {
        font-size: 3rem;
    }

    .title-img {
        width: 4rem;
    }

    h2 {
        font-size: 1.15rem;
    }

    .links {
        margin-top: 24px;
        gap: 16px;
    }

    .link-img {
        height: 3em;
    }

    h2 {
        font-size: 1.35rem;
    }
}