.title {
    font-size: 6rem;
}

.title-img {
    height: 5rem;
    width: 100%;
    object-fit: contain;
}

.title-container {
    gap: 12px;
    align-items: center;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
}

.links {
    margin-top: 32px;
    gap: 48px;
}

nav {
    position: sticky;
    margin: 0 auto;
    top: 12px;
}

.nav {
    font-size: 1.25rem;
    gap: 16px;
    flex-wrap: wrap;
}

.nav a.main {
    padding-right: 32px;
}

.nav a {
    gap: 6px;
}

.nav img {
    height: 1.5rem;
}

.projs {
    gap: 0px;
    justify-content: space-between;
    max-height: 70vh;
    overflow:auto;
}

.link-img {
    height: 5em;
    object-fit: contain;
    margin-bottom: 6px;
}

.link-item {
    max-width: 364px;
    padding: 12px;
}

.max { 
    max-width: 800px;
    padding: 24px;
}

section {
    width: 100%;
    height: 100%;
}

.small {
    font-size: 0.85em;
    padding-top: 3px;
}

.sections > section {
    scroll-snap-align: center;
}

.sections {
    width: 100%;
    height: 100%;
    scroll-snap-type: both mandatory;
    overflow-y: scroll;
}

@keyframes backwards-scroll {
    0% {
        transform: translate3d(0%, -100%, 0);
    }

    50% {
        transform: none;
    }

    100% {
        transform: translate3d(0%, 100%, 0);
    }
}

@media (width < 800px) {
    .title {
        font-size: 4rem;
    }

    .title-img {
        width: 5rem;
        
    }

    h2 {
        font-size: 1.25rem;
    }

    .nav {
        position:sticky;
    }

    .links {
        margin-top: 24px;
        gap: 12px;
    }

    .link-img {
        height: 3em;
    }

    .link-item {
        max-width: 80vw;
    }

    h2 {
        font-size: 1.35rem;
    }
}

@media (width < 450px) {
    .title {
        font-size: 2rem;
    }

    .title-img {
        width: 4rem;
    }

    .link-img {
        height: 2em;
    }

    h2 {
        font-size: 1.15rem;
    }

    p {
        font-size: 1rem;
    }
}