---
import Layout from '../layouts/Layout.astro';
import '../styles/index.css'
---

<Layout>
	<div class="container center">
        <img alt="404 Not Found" src="/img/404.svg">
        <h2>we can't find the page :(</h2>

        <div class="links">
            <a class="jua" href="/">
                <h2 class="reset">
                    go back home?
                </h2>
            </a>
        </div>
	</div>
</Layout>