---
import Layout from '../layouts/Layout.astro';
import '../styles/index.css'
---

<Layout>
	<div class="container center">
		<div class="container row title-container">
			<h1 id="title" class="jua reset title">indiefellas</h1>
			<img aria-labelledby="title" src="/img/index_logo.svg" class="title-img" />
		</div>
		<h2 class="reset">indieweb devs with no idea what they're doing</h2>
		<div class="container row links">
			<a href="/projects">
				<div class="container">
					<img aria-labelledby="link-title" src="/img/projects.svg" class="link-img" />
					<h2 id="link-title" class="jua reset">projects</h2>
				</div>
			</a>
			<a href="/about">
				<div class="container">
					<img aria-labelledby="link-title" src="/img/about.svg" class="link-img" />
					<h2 id="link-title" class="jua reset">about</h2>
				</div>
			</a>
			<a href="/team">
				<div class="container">
					<img aria-labelledby="link-title" src="/img/index_logo.svg" class="link-img" />
					<h2 id="link-title" class="jua reset">team</h2>
				</div>
			</a>
		</div>
	</div>
</Layout>
