---
import '../styles/main.css'
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="indieweb devs with no idea what they're doing">
		<title>indiefellas</title>

		<meta property="og:url" content="https://team.indeaseas.org">
		<meta property="og:type" content="website">
		<meta property="og:title" content="indiefellas">
		<meta property="og:description" content="indieweb devs with no idea what they're doing">
		<meta property="og:image" content="/img/logo.png">
		<meta name="theme-color" content="#5787ff">

		<ClientRouter />
	</head>
	<body>
		<div class="neko-role" style="display: none"></div>
		<main>
			<slot />
		</main>
	</body>
</html>
